.c-category-card {
  width: 100%;
  padding: 15px 15px 10px 15px;
  border: 1px solid color(divider);
  border-radius: 6px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  transition-property: transform, background, color, filter;

  &:hover {
    box-shadow: 0px 0px 23px -2px rgb(221 61 37 / 50%);
    transform: scale(1.04, 1.04);
    background: color(primary);
    color: #fff;

    svg {
      color: #fff;
    }
  }

  > a {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 100%;
  }

  &__title {
    @include limit-text-lines(2);

    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    max-width: 100%;
    text-transform: capitalize;
    font-size: $text-small;
    line-height: $text-small-line-height;
  }

  &__content {
    @include layer(absolute);
  }

  &__icon {
    color: color(primary);

    svg {
      width: 32px;
      height: 32px;
    }
  }
}
