$gray-0: #f5f5f5;
$gray-1: #e8e8e8;
$gray-2: #d9d9d9;
$gray-4: #8f8f8f;
$gray-6: #5a5a5a;

$primary-red: #d90429;
$primary-secondary-red: #ef233c;

:root {
  --c-divider: #{$gray-1};
  --c-section-header-border: #{$gray-1};
  --c-grid-items-border: #{$gray-1};
  --c-primary: #{$primary-red};

  --c-muted-text: #{$gray-6};
  --c-default-text: #1f1f1f;

  --c-button-default:         initial;
  --c-button-default-text:    inherit;
  --c-button-default-border:  #{$gray-2};

  --c-button-primary:       #{$primary-secondary-red};
  --c-button-primary-text:  #fff;
  --c-button-primary-border:  #{darken($primary-secondary-red, 5%)};
  --c-button-primary-hover:   #{darken($primary-secondary-red, 8%)};

  --c-green-ribbon:     #9ed55b;
  --c-green-ribbon-text:#1a270a;

  --c-red-ribbon:       #{$primary-secondary-red};
  --c-red-ribbon-text:#fff;

  --c-layer-box: #{$gray-0};
}
