.m {
  &t {
    &-2    { margin-top: 10px; }
  }

  &l {
    &-1    { margin-left: 5px; }
    &-auto { margin-left: auto; }
  }

  &r {
    &-1    { margin-right: 5px; }
    &-2    { margin-right: 10px; }
    &-3    { margin-right: 15px; }
  }
}
