.is-text {
  &-small {
    font-size: $text-small;
    line-height: $text-small-line-height;
  }

  &-semibold {
    font-weight: 600;
  }

  &-muted   { color: color(muted-text); }
  &-primary { color: color(primary); }
}
