.c {
  &-book-info-section {
    > .c-section__content {
      display: grid;
      grid-template-columns: 260px 1fr 210px;
      gap: 50px;
    }

    &__cover img {
      -webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
    }

    &__header {
      margin-top: 0;
      margin-bottom: 1.2rem;
    }

    &__header-attr {
      @include flex-list;

      margin-bottom: .85rem;
      color: color(muted-text);

      &-label {
        font-size: $text-small;
      }

      &-value {
        margin-left: 7px;
      }
    }

    &__author {
      align-items: flex-end;

      a {
        color: color(primary);
      }
    }

    &__ratings {
      margin-bottom: 1.85rem;
    }

    &__categories {
      align-items: flex-start;
      margin-top: 2.2rem;
      margin-bottom: 0;

      .c-book-info-section__header-attr-label {
        line-height: 20px;
      }
    }

    @include mobile {
      > .c-section__content {
        grid-template-columns: 1fr;
        gap: 30px;
      }

      &__cover {
        max-width: 150px;
        margin: 0 auto;
      }

      &__header-attr {
        flex-direction: column;
        align-items: flex-start;

        &-value {
          margin-top: 5px;
          margin-left: 0;
        }
      }

      &__ratings {
        margin: 1rem 0 1.5rem;
      }
    }
  }

  &-lazy-book-section {
    content-visibility: auto;
    contain-intrinsic-size: 1000px;
  }

  &-book-price-box {
    &__header {
      @extend .c-flex-row;

      margin-bottom: 1.25rem;
      font-weight: 600;
      font-size: 0.95rem;

      > i {
        position: relative;
        top: 1px;
      }
    }

    &__price-wrapper {
      @extend .c-layer-box;

      margin-bottom: 1.25rem;
    }

    &__current-price {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .c-book-price-group__value {
        font-size: 1.7rem;
        color: color(primary);
      }
    }

    &__prev-price .c-book-price-group__value {
      font-weight: 500;
      text-decoration: line-through;
    }
  }

  &-book-price-group {
    &__label {
      margin-bottom: .35rem;
      font-size: $text-small;
      font-weight: 600;
      color: color(muted-text);
    }

    &__value {
      font-size: 1.1rem;
      font-weight: 800;
    }
  }

  &-book-prices,
  &-book-availability {
    th, tr {
      font-size: $text-small;
    }
  }

  &-book-prices {
    &__release {
      &-title {
        @include capitalize;

        position: relative;
        top: -2px; // why?
        margin: 0;
        font-size: inherit;
        font-weight: 500;
      }

      &-isbn {
        font-weight: 600;
      }
    }

    &__availability:not(:last-child) .c-book-availability {
      margin-bottom: 1.15rem;
    }
  }
}
