.c-books-grid {
  --columns: 7;
  --gap: 25px;

  gap: var(--gap);

  &:not(.has-fixed-columns-count) {
    grid-template-columns: repeat(var(--columns), 1fr);

    @mixin clean-book-border {
      border-bottom: 0;
      padding-bottom: 0;
    }

    @include except-mobile {
      > .c-book-card:nth-last-child(-n+7) {
        @include clean-book-border;
      }
    }

    @include mobile {
      --columns: 2;
      --gap: 15px;

      > .c-book-card:nth-last-child(-n+2) {
        @include clean-book-border;
      }
    }
  }
}
