.c-book-info-section {
  > .c-section__content {
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-gap: 50px;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__author {
    margin-bottom: 1.75rem;
    color: color(muted-text);
  }
}
