.c-section {
  margin: 3rem 0;

  &.is-divided > &__header {
    padding-bottom: 1.15rem;
    border-bottom: 1px solid color(section-header-border);
  }

  &__header {
    position: relative;
    margin-top: 0;
    margin-bottom: 2rem;
    text-transform: capitalize;

    &-underline {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 64px;
      height: 3px;
      background: color(primary);
    }
  }

  &__content {
    padding: 0 1.75rem;
  }

  @include mobile {
    &__content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
