.c {
  &-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &.is-inline {
      display: inline-flex;
    }
  }

  &-flex-center {
    @include flex-centered;
  }
}
