.c {
  &-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &.is-inline {
      display: inline-flex;
    }
  }

  &-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.is-centered {
      justify-content: center
    }
  }

  &-flex-center {
    @include flex-centered;
  }
}
