.c {
  &-description-box {
    line-height: 1.55rem;
    white-space: pre-line;

    &.is-mobile-smaller {
      @include mobile {
        font-size: 0.86rem;
        line-height: 1.3rem;
      }
    }

    &.is-quote {
      font-style: italic;
    }

    &__quote {
      opacity: .25;
      font-size: $text-normal;

      &.is-start {
        margin-right: 5px;
      }

      &.is-end {
        margin-left: 5px;
      }
    }
  }

  &-layer-box {
    padding: 1.2rem 1.5rem;
    background: color(layer-box);
    border-radius: 5px;

    &.has-small-padding {
      padding: .85rem 1rem;
    }

    &.has-none-padding {
      padding: 0;
    }
  }
}
