.c-logo-list-card {
  &:not(:last-child) {
    border-bottom: 1px solid color(divider);
  }

  > a {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 20px;
    align-items: center;
    padding: 1rem 0;
  }

  &__icon {
    @include flex-centered;

    color: color(primary);
    font-size: 1.5rem;
  }

  &__title {
    text-transform: capitalize;
  }

  @include small-mobile {
    &__title {
      font-size: .9rem;
    }
  }
}
