.c-filters {
  &-section {
    $gap: 30px;

    display: grid;
    grid-template-columns: 220px 1fr;
    grid-gap: $gap;
    min-height: calc(100vh - 350px);

    &__sidebar {
      height: 100%;
      padding-right: $gap;
      border-right: 1px solid color(divider);

      &-header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-weight: 700;
      }
    }

    &__toolbar {
      @include flex-list(flex, flex-start);
      width: 100%;

      &:empty {
        display: none;
      }

      &.is-top {
        margin-bottom: 20px;
      }

      &.is-bottom {
        margin-top: 20px;
      }
    }

    &__pagination-toolbar {
      flex-shrink: 0;
    }

    &__items {
      margin-top: 15px;
    }

    &__content {
      position: relative;

      .c-loading-layer {
        background: rgba(255, 255, 255, .65);

        &__content {
          position: absolute;
          top: 300px;
        }
      }
    }
  }

  &-group {
    $spacing: 20px;

    &:not(:first-child) {
      margin-top: $spacing;
    }

    &:not(:last-child) {
      padding-bottom: $spacing;
      border-bottom: 1px solid color(divider);
    }

    &__header {
      @include flex-list;

      margin-bottom: .85rem;
      font-size: $text-small;
      font-weight: 600;
      color: #000;

      .c-filters-small-counter {
        color: color(muted-text);
        font-weight: 500;
      }
    }

    &__content {
      font-size: .85rem;
    }

    .c-price-range {
      width: 100%;
    }

    .c-expandable-checkox-list {
      .c-checkbox-group__title {
        max-width: calc(100% - 24px);

        > span {
          @include text-ellipsis;
          line-height: 1rem;
        }
      }
    }
  }

  &-small-counter {
    margin-left: auto;
    font-size: $text-tiny;
    font-weight: 300;
  }

  &-badges {
    align-items: flex-start;
    margin-bottom: 10px;

    &__item {
      position: relative;
      margin-bottom: 7px;
      padding: 6px 32px 6px 9px;
      overflow: hidden;
      background: color(layer-box);
      border-radius: 5px;
      font-size: $text-small;

      &-title > strong {
        margin-right: 5px;
      }

      &-delete {
        @include flex-centered;

        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 100%;
        background: rgba(0, 0, 0, .05);

        &:hover {
          background: rgba(0, 0, 0, .08);
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
