.c-grid {
  $max-columns: 10;

  display: grid;

  @mixin generate-cols {
    @for $i from 1 through $max-columns {
      &.has-#{$i}-columns {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }

  @include except-mobile {
    @include generate-cols;
  }

  @include small-mobile {
    @include generate-cols;
  }

  @include big-mobile {
    @include generate-cols;
  }

  @for $i from 1 through $max-columns {
    &.has-#{$i}-gap {
      gap: #{$i * 5}px;
    }
  }
}
