.c-clean-list {
  @include clean-list;

  &.is-inline {
    @extend .c-flex-row;
  }

  &.is-spaced {
    @for $i from 1 through 7 {
      $spacing: $i * 5;

      &-#{$i}.is-inline > li:not(:last-child) {
        margin-right: #{$spacing}px;
      }

      &-#{$i}:not(.is-inline) > li:not(:last-child) {
        margin-bottom: #{$spacing}px;
      }
    }
  }
}
