.c-section {
  &.is-spaced {
    @for $i from 1 through 4 {
      &-#{$i} {
        margin: #{$i}rem 0;
      }
    }

    @include mobile {
      @for $i from 1 through 4 {
        &-#{$i} {
          margin: #{$i / 2}rem 0;
        }
      }
    }
  }

  &.is-divided > &__header {
    padding-bottom: 1.15rem;
    border-bottom: 1px solid color(section-header-border);
  }

  &__header {
    position: relative;
    margin-top: 0;
    margin-bottom: 2rem;
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }

    &-underline {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 64px;
      height: 3px;
      background: color(primary);
    }
  }

  &__content:not(.has-no-spacing) {
    padding: 0 1.75rem;

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
