.c {
  &-container {
    margin: 0 auto;
    width: $container-width;
    max-width: calc(100vw - 20px);
  }

  &-sections-list > .c-section:first-child {
    margin-top: 0;
  }

  &-layout {
    padding-top: 1.75rem;
  }
}
