.c-bottom-menu {
  $self: &;

  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: height 150ms ease-in-out;
  height: $mobile-bottom-menu-height;
  z-index: 5;

  &.is-active {
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $mobile-bottom-menu-height;
    box-shadow: rgb(0, 0, 0, 0.28) 0px 0px 4px 0px;
  }

  &__content {
    max-height: calc(100% - #{$mobile-bottom-menu-height});
    padding: 15px 20px;
    overflow-y: auto;
  }

  &__item {
    @include flex-centered;

    position: relative;
    flex: 1 1 0px;
    flex-direction: column;

    &.is-active {
      color: color(primary);

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border-top: 3px solid color(primary);
      }
    }

    &-icon svg {
      width: auto;
      height: 24px;
    }

    &-title {
      margin-top: 2px;
      font-size: .7rem;
    }
  }
}
