.c-header {
  @include flex-list(flex, flex-start, column);

  position: relative;
  width: 100%;
  margin-bottom: 2.5rem;

  > .c-container:first-of-type {
    padding: 20px;
  }

  &__brand {
    @include flex-list;

    position: relative;
    left: -14px;
    color: color(muted-text);
    font-size: 1.35rem;
    font-weight: 300;
    text-decoration: none;

    svg {
      width: 35px;
      height: 35px;

      g[stroke] {
        stroke: color(muted-text);
      }
    }

    &-title {
      margin-left: 8px;
    }
  }

  &__toolbar {
    margin-left: auto;
    flex-shrink: 0
  }

  &__search {
    margin: 0 25px 0 10px;

    > input {
      padding-right: 28px;
      padding: 8px 10px;
      border-radius: 8px;
    }
  }

  &__link {
    > a {
      @include flex-list;
      color: #000;

      &.is-active {
        color: color(primary);

        & .c-header__link-text {
          font-weight: 500;
        }
      }
    }

    &-icon {
      font-size: 1rem;
      opacity: 0.5;

      &:not(:last-child) {
        margin-right: 7px;
      }
    }

    &-text {
      font-weight: 400;
      font-size: .95rem;
    }
  }

  &__promo {
    width: 100%;
    margin-top: 5px;

    &-link {
      padding: 8px 10px;
      border: 1px solid color(divider);
      border-radius: 5px;
      font-size: $text-small;
      font-weight: 500;
      border-bottom-width: 2px;

      > a.is-active {
        color: color(primary);
        font-weight: 600;
      }

      &.is-borderless {
        border-color: transparent !important;
      }
    }
  }
}

@include mobile {
  .c-header {
    margin-bottom: 2rem;

    > .c-container:first-of-type {
      padding: 15px 10px;
    }

    &__brand {
      svg {
        width: 22px;
        height: 22px;
      }

      &-title {
        font-size: 1.1rem;
      }
    }
  }
}
