.c-header {
  @include flex-list;

  width: 100%;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid color(divider);

  &.has-promo-bar {
    margin-bottom: 4.5rem;
  }

  > .c-container {
    position: relative;
    padding: 20px;
  }

  &__brand {
    @include flex-list;

    position: relative;
    left: -14px;
    color: color(muted-text);
    font-size: 1.35rem;
    font-weight: 300;
    text-decoration: none;

    svg {
      width: 35px;
      height: 35px;

      g[stroke] {
        stroke: color(muted-text);
      }
    }

    &-title {
      margin-left: 8px;
    }
  }

  &__toolbar {
    margin-left: 20px;
  }

  &__link {
    > a {
      @include flex-list;
      color: #000;
    }

    &-icon {
      font-size: 1rem;
      opacity: 0.5;

      &:not(:last-child) {
        margin-right: 7px;
      }
    }

    &-text {
      font-weight: 300;
    }
  }

  &__promo {
    position: absolute;
    top: 100%;
    left: 0;

    &-link {
      padding: 8px 10px;
      border: 1px solid color(divider);
      border-top-color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-size: $text-small;
      font-weight: 600;
      border-bottom-width: 2px;
    }
  }
}
