.c-mobile-menu {
  $self: &;

  width: calc(100% + 30px);
  margin: 0 -15px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    @include flex-centered;

    position: relative;
    padding: 5px 0 10px;
    flex: 1 1 0px;
    flex-direction: column;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      top: 50%;
      width: 1px;
      height: 60%;
      transform: translateY(-50%);
      background: color(divider);
    }

    &.is-active {
      color: color(primary);

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border-top: 3px solid color(primary);
      }
    }

    &-icon svg {
      width: auto;
      height: 24px;
      opacity: .65;
    }

    &-title {
      margin-top: 2px;
      font-size: .7rem;
    }
  }
}
