.c-breadcrumbs {
  margin-bottom: 1.5rem;
  color: color(muted-text);
  font-size: $text-small;

  &.has-medium-padding {
    margin-bottom: 1rem;
  }

  &__item {
    @include flex-centered;
    margin-bottom: .5rem;

    > a {
      display: inline-flex;
    }
  }

  @include mobile {
    margin-bottom: 2.5rem;
  }
}
