.c-icon {
  display: inline-flex;
  color: inherit;

  svg {
    width: 1em;
    height: 1em;

    > path {
      color: currentColor;

      &:not([fill='none']) {
        fill: currentColor;
      }
    }
  }
}
