.c-arrows-paginate {
  $self: &;

  &__relative-btn {
    font-size: 1.1em;
  }

  &__absolute-btn,
  &__relative-btn {
    color: color(gray-4);
  }

  &__input-item .c-input {
    width: 64px;
  }

  &__of {
    margin: 0 7px;
  }

  > li:not(#{$self}__input-item) {
    position: relative;
    top: 2px;
  }

  @include mobile {
    &__absolute-btn,
    &__relative-btn {
      font-size: 1.5rem;
    }
  }
}
