.c-tabs {
  $self: &;

  &__nav {
    @include clean-list;
    @include flex-list;

    &.is-aligned-right {
      justify-content: flex-end;
    }
  }

  &__tab {
    cursor: pointer;
  }

  &.is-text-only {
    #{$self}__nav {
      margin: 1.5rem 0 1.75rem 0;

      @include mobile {
        margin: 1rem 0 1.2rem 0;
      }
    }

    #{$self}__tab {
      > a {
        @include flex-list;
      }

      &:hover {
        text-decoration: underline;
      }

      &.is-active > a {
        color: color(primary);
        font-weight: 700;
      }

      &-icon {
        margin-right: 5px;
      }
    }
  }
}
