doctype html
html(lang=lang)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='preload' href=files['client.css'] as='style')
    link(rel='preload' href=files['client.js'] as='script')

    link(rel='stylesheet' type='text/css' href=files['client.css'])
  body
    != html
